.report__wrapper {
  .col-md-8 {
    margin: 0 auto;
    .box {
      position: relative;
      border-radius: 5px;
      background: #fff;
      margin-bottom: 20px;
      width: 100%;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
      padding: 15px;
      .btn {
        border-radius: 5px;
        padding: 9px 15px 10px;
        margin: 0 2px;
        height: 40px;
      }
      .btn-warning {
        color: #fff !important;
        background-color: #f28e1d !important;
        border-color: #f28e1d !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }
      label {
        display: block;
        margin-bottom: 5px;
        color: #333;
        font-weight: 500;
      }
    }
  }
  .landlordscreen--report {
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
    padding: 15px;
    .corner__style {
      position: absolute;
      top: 0;
      left: 0;
    }
    .link__color {
        color:#2189ff !important;
    }
    p {
      margin: 0;
      color: #000;
    }
    a {
      color: #000 !important;
      &:hover {
        text-decoration: none;
      }
    }
    .screen_header {
      padding: 30px 0 15px;
      border-bottom: 3px solid rgb(181, 179, 179);
      // .left_content{

      // }
      .center_content {
        text-align: center;
        p {
          padding: 5px;
          display: inline-block;
          font-weight: 500;
          background-color: rgb(233, 238, 247);
          border: 1px solid rgb(141, 192, 239);
          font-size: 14px;
        }
      }
      .right_content {
        width: 40%;
        float: right;
        img {
          width: 100%;
        }
      }
    }
    .screen_content {
      float: left;
      width: 100%;
      h4 {
        margin-bottom: 5px;
        color: #333;
        font-weight: 500;
        font-size: 16px;
      }
      .col-md-12 {
        margin-bottom: 20px;
      }
      .left__bar {
        float: left;
        width: calc(100% - 70%);
        padding-right: 30px;
        .user-detail {
          h4 {
            margin-bottom: 5px;
            color: #333;
            font-weight: 500;
            font-size: 16px;
          }
          p {
            color: #808080;
          }
        }
        i {
          font-size: 50px;
          padding: 15px;
          margin: 10px 0 0 10px;
          color: #999;
        }
        .user_image {
          border-radius: 50%;
          margin: 10px 0 0 10px;
          height: 100px;
          width: 100px;
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
      .right__bar {
        color: #999;
        float: right;
        width: 70%;
        .user-proccess {
          text-align: right;
        }
        .user-info {
          border: 1px solid #b0d1eb;
          .table {
            color: #000;
            margin: 0;
            th {
              border: none;
              font-weight: 500 !important;
              width: 40%;
            }
            td {
              border: none;
              font-weight: 400;
              .fa-check-circle {
                color: #1dbdf7;
                margin-right: 5px;
              }
              .fa-exclamation-triangle {
                color: #f28e1e;
                margin-right: 5px;
              }
              .fa-exclamation-circle {
                margin-right: 5px;
                color: #ea463a;
              }
            }
          }
        }
        .user-info-btn {
          border: 1px solid #b0d1eb;
          padding: 58px 25px;
          .btn {
            background: #5ea638;
            width: 100%;
            color: white;
            i {
              margin-right: 5px;
            }
          }
          .btn_risk {
            background: #ff0000;
            width: 100%;
            color: white;
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .footer_wrap {
      color: #999;
    }
  }
}

@media screen and (max-width: 767px) {
  .report__wrapper .landlordscreen--report .screen_content .left__bar {
    float: left;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 15px;
  }
  .report__wrapper .landlordscreen--report .screen_content .right__bar {
    float: left;
    width: 100%;
  }
  .report__wrapper
    .landlordscreen--report
    .screen_content
    .right__bar
    .user-proccess {
    text-align: left;
    padding: 0 !important;
  }
  .report__wrapper .landlordscreen--report {
    padding: 0 !important;
  }
  .report__wrapper .col-md-8 {
    padding: 0 !important;
  }
  .report__wrapper .landlordscreen--report .screen_header .right_content {
    width: 30%;
    float: none;
    margin: 0 auto;
  }
  .report__wrapper .landlordscreen--report .screen_header {
    text-align: center;
  }
  .report__wrapper .box .text-right{
    text-align: left !important;
  }
  .report__wrapper .box .col-md-8 .btn{
    margin: 5px;
  }
  .report__wrapper .box .row{
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .report__wrapper .landlordscreen--report .screen_content .left__bar {
    float: left;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 15px;
  }
  .report__wrapper .landlordscreen--report .screen_content .right__bar {
    float: left;
    width: 100%;
  }
  .report__wrapper
    .landlordscreen--report
    .screen_content
    .right__bar
    .user-proccess {
    text-align: left;
    padding: 0 !important;
  }
  .report__wrapper .landlordscreen--report {
    padding: 0 !important;
  }
  .report__wrapper .col-md-8 {
    padding: 0 !important;
  }
  .report__wrapper .landlordscreen--report .screen_header .right_content {
    width: 30%;
    float: none;
    margin: 0 auto;
  }
  .report__wrapper .landlordscreen--report .screen_header {
    text-align: center;
  }
  .report__wrapper .box .text-right{
    text-align: left !important;
  }
  .report__wrapper .box .col-md-8 .btn{
    margin: 5px;
  }
  .report__wrapper .box .row{
    display: block;
    width: 100%;
  }
  .report__wrapper .box .row .col-md-4{
    max-width: 100%;
    flex: none;
  }
  .report__wrapper .box .row .col-md-8{
    max-width: 100%;
    flex: none;
  }
}
