.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 525px;
  color: #32325d;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.cnuminput {
  width: 100% !important;
}

.cexpinput {
  width: 100% !important;
}

.ccsvinput {
  width: 100% !important;
}

.czipinput {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border-radius: 4px;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: white;
  box-shadow: 1px 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.czipinput:focus {
  border: 1px solid #2288fb !important;
  box-shadow: 0 1px 3px 0 #cfd7df !important;
}

.StripeElement--focus {
  border: 1px solid #2288fb;
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.editCardDiv {
  height: 220px;
  box-shadow: 0 1px 3px 3px #01080f;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.cardEditInputYear,
.cardEditInputMonth,
.cardEditInputZip,
.cardEditInputName {
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}

.cardEditInputMonth {
  width: 100%;
}

.cardEditInputYear {
  width: 100%;
}

.cardEditInputZip {
  width: 70%;
}

.cardEditInputName {
  width: auto;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

.editCardClose {
  margin-top: 3%;
  padding-right: 2%;
  text-align: right;
  font-size: 20px;
}

.editCardHead {
  margin-bottom: 0;
  font-weight: 500;
  color: #6a7486;
}

.ecDiv2 {
  margin-left: 5%;
}

.saveEditCard {
  width: 15%;
  padding: 5px;
  /* background-color: transparent;
    border: 1px solid #6a7486;
    color: black; */
  margin-left: 5%;
  margin-top: 2%;
}

.errorUpdateCard {
  color: red;
  margin-bottom: 0;
}

.ant-btn {
  padding: 0 10px 0 10px !important;
}

.paySuccessModal {
  width: 25% !important;
}

.successTick {
  font-size: 40px;
  color: #2389ff;
  text-align: center !important;
}

.suc1 {
  text-align: center !important;
  font-size: 20px;
  margin-bottom: 0;
}

.sucBtnDiv {
  width: 100%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accBtn {
  background-color: #2389ff !important;
  color: white !important;
}

.taskBtn {
  border: 1px solid #2389ff !important;
}

.disableBtn {
  opacity: 0.5;
}
