.upload_img {
  margin-bottom: 20px;
  .img_upload {
    position: relative;
    img {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }
  }
  .delete {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 25px;
    color: #ff0000;
  }
}

.slider_upload_img {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    li {
      position: relative;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 20px;
        margin: 0 15px;
      }
      i {
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            color: #ff0000;
        }
      }
    }
  }
}


.display_add_more{
  display: flex;
}
.add_more_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20%;
  min-width: 20%;
  .add_more{
    position: relative;
    top: 0;
    right: 0;
  }
}