.input-with-label__wrapper {
  input.error {
    border: 1px solid red;
  }
  input.error:focus,
  input.error:active {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
  }
  .error-text {
    color: red;
  }
}
