.active-profile__wrapper {
  background-color: #ecf0f5;
  padding: 50px 0;
  .box {
    display: block;
    background: #fff;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    // width: 100%;
    width: 400px;
    // height: 100%;
    min-height: 400px;
    // margin:  auto;
    position: absolute;
    left: 50%;
    top: 50%;
   -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .input-field {
      margin: 4px 2px;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border-radius: 0.25rem;
    }
    h4 {
      margin: 0 0 30px;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      color: #333;
    }
  }
  .get-otp-button {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    .btn-otp {
      border-radius: 0.25rem;
    }
  }
  .verify-code {
    margin-top: 10px;
    margin-bottom: 15px;
    .form-control {
      float: left;
      width: 16.666%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 9px 12px 10px;
      font-size: 20px;
      height: 50px;
    }

    .verify__otp {
      width: 100%;
      margin: 10px 0;
      div {
        justify-content: center;
      }
      input {
        width: 19.6666% !important;
        margin: 0 !important;
        padding: 9px 5px !important;
        height: 50px !important;
        border: 1px solid #ccc !important;
        outline: none;

        &:focus {
          border-color: #f28e1d !important;
        }
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
  .active-profile {
    .form-group {
      margin: 5px 0;
      .website-wrapper {
        position: relative;
        .website {
          display: flex;
          align-items: center;
          position: absolute;
          left: 12px;
          top: 5px;
          z-index: 1;
        }
        .ant-input {
          padding-left: 220px;
        }
      }
    }
    .company-wrapper {
      position: relative;
      span.anticon {
        position: absolute;
        left: 13px;
        top: 13px;
        margin-right: 4px;
        // vertical-align: middle !important;
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
      input.tab__deatils--input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        padding-left: 30px;
        height: 40px;
        border: 1px solid #ddd;
        box-shadow: none;
        line-height: 20px !important;
        margin: 10px 2px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border-radius: 0.25rem;
      }
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bfbfbf;
        text-overflow: ellipsis;
        opacity: 1; /* Firefox */
      }

      #react-autowhatever-1 ul li:hover {
        background-color: #bfbfbf;
      }
      .input_global.input_margin {
        // height: 30px;
        border-radius: 4px;
        padding-left: 30px;
        font-size: inherit;
      }
    }
    .logo {
      display: block;
      width: 100%;
      height: auto;
      max-width: 115px;
      margin: 0 auto 30px;
    }
  }
  .date__flex {
    display: flex;
    margin: 4px 2px;
    .input-group-text {
      background: none !important;
      border-radius: 4px 0 0 4px !important;
    }
    .datePicker {
      width: 100%;
      .input-group-text {
        background: #fff;
        border-radius: 4px 0 0 4px;
        border: 1px solid #ddd;
      }
      .tab__deatils--input {
        border-radius: 0 4px 4px 0;
        width: 100% !important;
      }
    }
    .react-tel-input > input[type="tel"] {
      width: 100%;
      padding: 0.375rem 0.75rem;
      padding-left: 30px;
      height: 40px;
      border: 1px solid #ddd;
      box-shadow: none;
      line-height: 20px !important;
      margin: 10px 2px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border-radius: 0.25rem;
    }
  }

  .ant-btn-primary {
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
  }
  .logo__wrapper {
    text-align: center;
    margin-bottom: 30px;
    .logo {
      width: 115px;
      height: auto;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 768px) {
    .box {
      width: 320px;
    }
  }
  @media screen and (max-height: 440px) {
    .box {
      margin-top: 100px;
    }
  }
}


