.content {
  .tab-content {
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
    padding: 15px;
    color: #777;
    font-size: 14px;
    font-weight: 500;
    .task_id {
      float: left;
      padding: 0 10px;
      width: 50%;
      cursor: pointer;
    }
    .posted_by {
      float: left;
      width: 50%;
      text-align: right;
      padding: 0 10px;
      i {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
.wrapper--task {
  position: relative;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
  padding: 15px;
  .content {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .budget-task {
      float: left;
      width: 100%;
      .form-group {
        float: left;
        width: 70%;
        h3 {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 20px;
          color: #333;
        }
      }
      .form-group:last-child {
        float: right;
        width: 30%;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          width: 50%;
          display: inline-block;
          .task--info {
            float: left;
            i {
              float: left;
              font-size: 15px;
              margin: 5px 5px 5px 0;
              color: rgb(33, 137, 255);
            }
            span {
              color: #0056b3;
              cursor: pointer;
            }
            p {
              float: left;
              font-size: 15px;
            }
          }
        }
      }
      .tab-content {
        border: 1px solid #ccc;
        padding: 10px;
        width: 200px;
        height: 100%;
        margin: 0 auto 10px;
        h3 {
          .fa-edit {
            cursor: pointer;
          }
        }
        .btn-warning {
          // color: #ffffff !important;
          // background-color: #f28e1d !important;
          // border-color: #f28e1d !important;
          // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }
        .btn-warning {
          // color: #ffffff !important;
          // background-color: #f28e1d !important;
          // border-color: #f28e1d !important;
          // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }
        .btn-warning-mad {
          color: #ffffff !important;
          background-color: #2DC4D4 !important;
          border-color: #2DC4D4 !important;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }
        .btn-warning-resolved {
          color: #ffffff !important;
          background-color: #047BFD !important;
          border-color: #047BFD !important;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }
        .btn-warning-completed {
          color: #ffffff !important;
          background-color: #67CB5D !important;
          border-color: #67CB5D !important;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
        }
      }
    }
    .notify--taskList {
      margin-bottom: 20px;
      .row {
        align-items: center;
      }
      label {
        font-weight: 600;
        color: #000;
        margin-right: 50px;
        span {
          color: rgb(33, 137, 255);
        }
      }
      .col-md-2 {
        align-self: center;
        font-size: 20px;
        color: rgb(33, 137, 255);
        i {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.tab--list--details {
  .react-tabs__tab-list {
    border: 0;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    background: #ccc;
    li {
      padding: 12px 10px;
      width: 33.3333%;
      text-align: center;
      border: 0;
      bottom: 0;
    }
    .react-tabs__tab--selected {
      background: #2189ff;
      color: #fff;
      border-radius: 5px;
    }
  }
  .col-md-8 {
    p {
      color: #777;
      font-size: 14px;
      padding: 15px;
      padding-right: 100px;
      font-weight: 400;
    }
  }
  .col-md-2 {
    img {
      width: 50%;
    }
  }
  .messages--taskList {
    .col-md-12 {
      h3 {
        font-size: 20px;
        font-weight: 400;
        color: #333;
        margin: 30px 0;
        text-align: center;
      }
    }
    p {
      font-weight: 700;
      color: #333;
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  .offers--taskList {
    .btn-offer {
      background-color: rgb(212, 236, 191);
      margin-top: 15px;
    }
    .offers-list {
      .offer--info {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .name_user {
          font-size: 20px;
          font-weight: 500;
          color: #333;
        }
        p {
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 18px;
          color: #333;
        }
      }
      h4 {
        i{
          font-size: 18px;
        }
        .fa-edit {
          color: rgb(33, 137, 255);
          cursor: pointer;
        }
      }
      .card {
        padding: 35px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.08);
      }
      h3 {
        .fa-edit {
          color: rgb(33, 137, 255);
        }
      }
      .col-md-6:first-child {
        padding: 10px 30px;
      }
      .col-md-6:last-child {
        padding: 20px 30px;
      }
      .col-md-9 {
        p {
          color: #777;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .col-md-3 {
        text-align: right;
        .btn-Change {
          color: #ffffff !important;
          background-color: #f28e1d !important;
          border-color: #f28e1d !important;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
          width: 100%;
          margin-bottom: 10px;
        }
        .btn-Release {
          color: #f28e1d !important;
          background-color: transparent !important;
          border-color: #f28e1d !important;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
          width: 100%;
          margin-bottom: 10px;
          &:hover {
            color: #ffffff !important;
            background-color: #f28e1d !important;
            border-color: #f28e1d !important;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }
        }
      }
    }
  }
  .info--offers {
    color: #777;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    a {
      color: #777;
      &:hover {
        text-decoration: none;
        color: #777;
      }
    }
    .icon-wrapper .icon .fa-thumbs-up {
      color: grey;
      font-size: 20px !important;
    }
    .icon-wrapper .icon .fa-thumbs-down {
      color: grey;
      font-size: 20px !important;
    }
    .icon-wrapper, .icon-wrapper-2{
      margin: 0 !important;    
      font-size: 14px !important;
    }
  }
  .btn-other {
    background-color: rgb(190, 219, 252);
    margin-top: 15px;
  }
}

.thumbs__up-active {
  color: #297adf !important;
}

.thumbs__down-active {
  color: red !important;
}

.ant_slider_review {
  .ant-drawer-close {
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
  }
  .fa-save {
    font-size: 28px;
    padding: 10px 0;
    cursor: pointer;
  }
  .ant-drawer-body {
    padding: 15px 24px;
  }
}

.offer__left_wrap {
  width: calc(100% - 320px);
  margin-right: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  float: left;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
}
.offer__right_wrap {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  float: left;
  border: 1px solid #2189ff;
}
@media screen and (max-width: 1024px) {
  .offer__left_wrap {
    width: 100%;
    margin-right: 0px;
  }
  .offer__right_wrap {
    width: 300px;
    float: right;
    margin-top: 30px;
  }
  .wrapper--task .content .budget-task ul li {
    width: 100%;
    i {
      font-size: 14px !important;
    }
    .task--info p {
      margin: 0;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 767px) {
  .offer__left_wrap {
    width: 100%;
    margin-right: 0px;
  }
  .offer__right_wrap {
    width: 300px;
    margin-top: 30px;
    float: right;
  }
  .wrapper--task .content .budget-task ul li {
    width: 100%;
    i {
      font-size: 14px !important;
    }
    .task--info p {
      margin: 0;
      font-size: 14px;
    }
  }
  .tab--list--details .react-tabs__tab-list li {
    width: 100%;
  }
}

.roc__desktop--responsive {
  // .wrapper--task .content .budget-task .form-group {
  //   width: 100%;
  // }
  .offer__left_wrap {
    width: 100%;
    margin-right: 0px;
  }
}

.label__modal_review {
  font-weight: 500;
  color: #000;
}
.rating_review {
  text-align: center;
  margin-bottom: 15px;
  i {
    font-size: 40px;
  }
}
.textarea__modal_review {
  min-height: 100px;
  max-height: 200px;
}

.reviewstatus__pile {
  .draft_pile {
    width: 50%;
    border: 0;
  }
}

.view__Task_video {
  .ant-modal-content {
    background: transparent !important;
    box-shadow: none !important;
  }
}

.react-player-lochan{
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
}





.stripe__payment-release {

  form {
    padding: 30px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  label {
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
  }
  
  
  .btn-Stripe {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    width: 100%;
  }
  
  .btn-Stripe:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: #43458b;
  }
  
}


.react-player__button {
  position: absolute;
  top: 20%;
  left: 52%;
  border: 0;
  background: transparent;
  font-size: 30px;
}

.message-fixit-offers { 
  a{
    .fa-envelope{
      margin-right:20px;
      font-size: 18px;
      color:#2189ff; 
    }
    .fa-flag{
      margin-right:20px;
      font-size: 18px;
      color:#f76968;
      
    }
  }
}

// .tab--list--details .offers--taskList .offers-list .col-md-3 .saveCardCheck {
//   text-align: left;
// }

.tab--list--details .offers--taskList .offers-list .col-md-3 {
    text-align: left;
}


