.list_grid__view--wrapper {
  i{
    margin-right: 10px;
    color: #555;
  }
  .sub_header {
    float: left;
    width: 100%;
    clear: both;
    padding: 10px;
    h4 {
      width: 60%;
      float: left;
      font-weight: 400;
      font-size: 20px;
      .searched_for {
        font-weight: 500;
      }
      .searched_quantity {
        color: #888;
      }
    }
    .btn__wrapper {
      width: 40%;
      float: right;
      text-align: right;
      .save_wishlist {
        background: #f28e1d;
        color: #fff;
      }
      .active {
        color: #fff;
        background: #2189ff;
        border: 0;
      }
      .btn_view {
        border: 1px solid #ccc;
      }
    }
  }
  .setting__results {
    display: flex;
    clear: both;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    label {
      font-weight: 500;
    }
    .location_width {
      width: 300px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    .mileage_width {
      width: 180px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    .type_width {
      width: 180px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    .rentrange_width {
      width: 180px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    .mb__bedroom{
      margin-bottom: 0;
    }
    .bedroom_width {
      display: flex;
      .input__global {
        width: 70px;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
    .filter_width {
      width: 180px;
      margin-bottom: 0;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        width: 15%;
      }
      li:first-child{
        display: inline-block;
        width: 25%;
      }
    }
  }
}

.list__view {
  clear: both;
  .bg {
    width: 100%;
    padding: 20px;
    .bg_main {
      background: #fff;
      padding: 12px;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 0 8px 20px 0 rgba(73, 73, 73, 0.25);
      .col-md-2 {
        padding: 0;
      }
    }
    .image_wishlist {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .list {
      width: 100%;
      float: left;
      margin-bottom: 10px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      li {
        width: 33.333%;
        float: left;
      }
      p {
        margin-bottom: 30px;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .description {
      clear: both;
      p:first-child {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      p {
        color: #555;
        font-size: 14px;
      }
    }
    .listing {
      width: 100%;
      margin-top: 35px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        padding-top: 10px;
      }
      li:first-child {
        margin-left: 0px;
        display: inline-block;
      }
      li {
        margin-left: 25px;
        display: inline-block;
        color: #555;
        font-size: 16px;
      }
      .btn_furnished {
        width: 100%;
        background: #67cc5d;
        color: #fff;
        padding: 4px 29px;
      }
    }
    .btn_rightsection {
      border-left: 1px solid #ddd;
      .btn_rent {
        color: #fff;
        background: #2189ff;
        width: 91%;
        margin-bottom: 10px;
        font-size: 14px;
        padding: 10px;
        &:hover {
          color: #2189ff;
          border-color: #2189ff;
          background: transparent;
        }
      }
      .btn_offer {
        color: #fff;
        background: #f28e1d;
        width: 91%;
        margin-bottom: 10px;
        font-size: 14px;
        padding: 10px;
        &:hover {
          color: #f28e1d;
          border-color: #f28e1d;
          background: transparent;
        }
      }
      .btn_book {
        color: #f28e1d;
        border-color: #f28e1d;
        width: 91%;
        margin-bottom: 10px;
        font-size: 14px;
        padding: 10px;
        &:hover {
          color: #fff;
          background-color: #f28e1d;
        }
      }
      .btn_view {
        color: #2189ff;
        border-color: #2189ff;
        width: 91%;
        font-size: 14px;
        padding: 10px;
        &:hover {
          color: #fff;
          background-color: #2189ff;
        }
      }
    }
  }
}

/*Grid View*/
.bg_ {
  .bg_mainly {
    .card {
      padding: 16px 16px 0 16px;
      margin-bottom: 30px;
      box-shadow: 0 8px 20px 0 rgba(73, 73, 73, 0.25);
      .property-card-row2 {
        margin: 10px 0;
        color: #000;
        border-top: 1px solid #e5e5e5;
        padding-top: 10px;
        .Admin .property-card-row2 .mdi {
          margin: 0 2px 0 5px;
          color: #555;
          font-size: 16px;
        }
      }
      .mdi {
        line-height: 1;
      }
      .Admin .dropdown-item {
        padding: 5px 15px;
      }
      .card__img{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    // .img_hover {
    //   img {
    //     transition: all 0.3s ease-in-out;
    //     width: 100%;
    //     &:hover {
    //       transform: translateY(-25px);
    //       box-shadow: 0 3px 10px 2px #bbb;
    //     }
    //   }
    // }
    .card-body {
      padding: 0;
      padding-top: 10px;
    }
    .details {
      width: 100%;
      float: left;
      p {
        font-size: 12px;
      }
      i{
        margin-right: 10px;
        color: #555;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      li:first-child {
        float: left;
        margin-left: 0;
      }
      li:last-child {
        float: right;
        margin-left: 0;
      }
      li {
        float: left;
        margin-left: 10px;
      }
    }
    .content {
      clear: both;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .card_footer {
      .align {
        align-self: flex-end;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/*Login Back*/
._bg {
  display: none;
  width: 350px;
  background: #ecf0f5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  .user_img {
    img {
      width: 70px;
    }
  }
  .form-group {
    input {
      margin: 0 auto;
      width: 100%;
    }
    button {
      width: 100%;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .list_grid__view--wrapper {
    .sub_header {
      h4 {
        width: 50%;
        font-size: 14px;
      }
      .btn__wrapper {
        width: 50%;
        text-align: right;
      }
    }
    .setting__results {
      display: inline-block;
      float: left;
      li{
        width: 50% !important;
        padding: 0 10px 0 0;
      }
      .location_width {
        width: 100%;
        float: left;
      }
      .mileage_width {
        width: 100%;
        margin-top: 15px;
        float: left;
      }
      .type_width {
        width: 100%;
        margin-top: 15px;
        float: left;
      }
      .rentrange_width {
        width: 100%;
        margin-top: 15px;
        float: left;
      }
      .bedroom_width {
        display: flex;
        .input__global {
          width: 100%;
          float: left;
        }
      }
      .filter_width {
        width: 100%;
        margin-top: 15px;
        float: left;
      }
      .mb__bedroom{
        margin-bottom: 0;
        float: left;
      }
    }
  }
  .bg_{
    .bg_mainly{
      .col-md-4{
        max-width: 50%;
        flex: none;
      }
      .card{
        .property-card-row2{
          font-size: 13px;
        }
      } 
      .details p{
        font-size: 11px;
      }
    } 
  } 
  .filter_dropdown{
    ul{
      li{
        width: 100% !important;
      }
    }
  }
}




@media screen and (max-width: 767px) {
  .list_grid__view--wrapper {
    .sub_header {
      h4 {
        width: 100%;
        font-size: 14px;
      }
      .btn__wrapper {
        width: 100%;
        text-align: left;
      }
    }
    .setting__results {
      display: block;
      li{
        width: 100% !important;
      }
      .location_width {
        width: 100%;
      }
      .mileage_width {
        width: 100%;
        margin-top: 15px;
      }
      .type_width {
        width: 100%;
        margin-top: 15px;
      }
      .rentrange_width {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .bedroom_width {
        display: flex;
        .input__global {
          width: 50%;
        }
      }
      .filter_width {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
  .bg_{
    .bg_mainly{
      .col-md-4{
        max-width: 100%;
        flex: none;
      }
      .card{
        .property-card-row2{
          font-size: 13px;
          .col-11{
            font-size: 11px;
            .p-2{
              padding: 2px !important;
            }
          }
        }
      } 
      .details{
        i{
          margin-right: 5px;
        }
        p{
          font-size: 11px;
        }
      } 
    } 
  } 
  .filter_dropdown{
    ul{
      li{
        width: 100% !important;
      }
    }
  }
}
.parentClassDropdown{
  width: 33%;
}
.filter_dropdown{
  padding: 15px;
  .smallCheckbox{
    margin: 0 10px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      width: 50%;
      display: inline-block;
      // padding: 10px;
    }
  }
  p{
    font-size: 16px;
    color: #000;
    font-weight: 600;
  }
  // .btn-warning{
  //   background: #f28e1d !important;
  //   width: 50%;
  // }
}


@media screen and (max-width:320px){
  .bg_ {
    .bg_mainly {
      .card {
        padding: 10px;
        margin-bottom: 20px;
      }
      .details {
        p {
          font-size: 11px;
        }
        i {
          margin-right: 2px;
        }
        li {
          margin-left: 5px;
        }
      }
      .content {
        p{
          font-size: 12px;
          margin-bottom: 10px;
        }
        }
      .col-11{
        font-size: 11px;
        .p-2{
          padding: 0 !important;
        }
      }
    }
  }
} 

.roc__desktop--responsive .bg_ .bg_mainly .details i{
  margin-right: 3px;
}
.roc__desktop--responsive .bg_ .bg_mainly .card .p-2{
  padding: 1px !important;
}
.roc__desktop--responsive .bg_ .bg_mainly .card .col-11{
  font-size: 13px;
}