.impersonating_wrap{
    background: #fde3cf;
    color: #f56a00;
    font-size: 15px;
    top: 55px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    z-index: 998;
}