.input_full {
  width: 100% !important;
  height: 40px !important;
}
.profile__menu--listing {
  width: 250px;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      border-bottom: 1px solid #fff;
      a {
        color: #fff;
        border-left: 6px solid transparent;
        background: #b3b2b2;
        display: block;
        padding: 11px 20px 12px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          border: 0;
          background: #898989;
          border-left: 6px solid #f28e1d;
        }
      }
      &:first-child {
        a {
          border-radius: 5px 5px 0 0;
        }
      }
      &:last-child {
        a {
          border-radius: 0 0 5px 5px;
        }
      }
    }
    .active {
      a {
        border: 0;
        background: #898989;
        border-left: 6px solid #f28e1d;
      }
    }
  }
}

.profile__menu--details {
  width: calc(100% - 270px);
  float: left;
  margin-left: 20px;
  .card-header {
    cursor: pointer;
    &:hover {
      color: orange;
      transition: all 0.3s ease-in-out;
    }
  }
  .profile__details--left {
    width: calc(100% - 320px);
    margin-right: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    float: left;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
    .card__middle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .details__icons {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        border-radius: 50%;
        vertical-align: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #999;
        i {
          &::before {
            font-weight: 600;
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .down__marg {
        margin-top: 2px;
      }
      .active {
        background: #f28e1d !important;
      }
    }
    .active__tab {
      color: #f28e1d !important;
    }

    .card {
      padding: 0;
      box-shadow: 0 1px 5px #e4e4e4;
    }
    .react-tabs__tab-list {
      border: 0;
      color: #fff;
      font-size: 16px;
      width: 100%;
      border-radius: 5px;
      background: #bbb;
      li {
        padding: 12px 10px;
        text-align: center;
        border: 0;
        bottom: 0;
      }
      .react-tabs__tab--selected {
        background: #2189ff;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
  .profile__details--right {
    width: 300px;
    // max-height: 530px;
    // overflow-y: auto;
    background: #fff;
    // padding: 15px;
    border-radius: 5px;
    float: left;
    border: 1px solid #2189ff;
    h4 {
      font-weight: 500;
      color: #217be0;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .fullwidth {
    width: 100% !important;
  }
}

// Profile Completeness Styles
.main_head {
  border-radius: 5px;
  padding: 15px 0;
  border: 1px solid #ccc;
  .test {
    background: #fff;
  }
  .progress {
    height: 25px;
  }
  .info {
    h6 {
      background: #e1e8ef;
      border-radius: 5px;
      padding: 8px 10px;
    }
    .col-md-6 {
      padding: 15px;
      color: #007bff;
      span {
        background: green;
        border-radius: 5px;
        padding: 3px;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}