.variant__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .ant-divider-horizontal {
    margin: 10px 0 !important;
  }
  .bottom-section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .description {
      display: flex;
      flex: 0.8;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border-radius: 0.25rem;
    }
    .price {
      display: flex;
      flex: 0.2;
    }
  }
}
