.signature__wrapper {
  .upload-image-wrapper {
    .signature-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin: 10px;
      }
      .signature {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}