.notActiveShowCompany {
  background: #eee;
  color: #777;
  border-color: #5ea637 !important;
  height: 34px;
  font-size: 14px !important;
}
.row__marg--top {
  margin-top: 50px;
}
.btn.activeShowCompany {
  color: #fff !important;
  background-color: #5ea637 !important;
  border-color: #5ea637 !important;
  height: 34px;
  font-size: 14px !important;
  // color: #fff;
  // background-color: #1e7e34;
  // border-color: #1c7430;
}

.no_activeShowCompany {
  color: #fff !important;
  background-color: #999 !important;
  border-color: #5ea637 !important;
  height: 34px;
  font-size: 14px !important;
}
.no_notActiveShowCompany {
  background: #eee !important;
  color: #777 !important;
  border-color: #5ea637 !important;
  height: 34px;
  font-size: 14px !important;
}

.space_between__tooltips {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// .active_class{
//         color: #fff;
//         background-color: #1e7e34;
//         border-color: #1c7430;
// }

.tooltip__size {
  font-size: 1.3em !important;
  margin-left: 7px;
}

.tooltip__color {
  .ant-tooltip-inner {
    min-height: 20px;
    border-radius: 0;
    padding: 4px 8px;
    font-size: 12px;
    background: #fff;
    color: #000;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  }
  .ant-tooltip-arrow {
    display: none;
  }
}

.verify__marg {
  margin-top: 30px;
}

.posi__rel {
  position: relative;
  .dropzone {
    width: 200px;
    height: 200px;
    z-index: 1;
    border: 0 !important;
    outline: none;
    margin: auto;
    input {
      display: block !important;
      height: 200px;
      width: 200px;
      z-index: 1 !important;
      position: relative;
      opacity: 0;
    }
  }
  aside {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    div {
      height: 230px !important;
      width: 230px !important;
      border-radius: 50% !important;
      border: 0 !important;
      img {
        height: 230px !important;
        width: 230px !important;
        object-fit: contain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.profile__img--box {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  z-index: 1;
  overflow: hidden;
  border: 1px solid rgb(223, 223, 223);
  // background: #000;
  &::before{
    content: '';
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: #e6e6e6;
    z-index: 9999;
  }
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    background: rgb(0, 0, 0);
    z-index: 999;
  }

}
.overlay_Wrap:hover .overlay::after {
  opacity: 0.5;
}
.icon_profile {
  color: #000;
  font-size: 24px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
}
.fa-user:hover {
  color: #000;
}

.info__left--wrapper {
  width: 50%;
  float: left;
  position: relative;
  padding: 0 15px 0 0;
}
.info__right--wrapper {
  width: 50%;
  float: right;
  padding: 0 0 0 15px;
}
.datePicker {
  .error {
    display: none;
  }
}

// slider switch css
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 5px auto !important;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "N";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 2px 2px 2px 0;
}

input:checked + .slider {
  background-color: #3095f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
  content: "Y";
  color: green;
  font-weight: bold;
  text-align: center;
  padding: 3px 0;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btns__green {
  color: #fff;
  background-color: #019106;
  border-color: #014203;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
  padding: 0 15px;
  width: 100%;
  font-size: 14px;
  margin-top: 8px;
  height: 46px;
  line-height: 46px;
}
.btns__green:hover {
  color: #fff;
  background-color: #09770d;
}

// desktop responsive open
.roc__desktop--responsive {
  .info__left--wrapper,
  .info__right--wrapper {
    width: 100%;
    padding: 0 0 0 0;
  }
}
// desktop responsive close
