.accounting-rental_invoice_transaction {
  .main_wrap {
    .react-tabs {
      display: flex;
      flex-grow: 1;
      max-width: 300px;
      .react-tabs__tab-list {
        border: 0;
        color: #fff;
        display: flex;
        font-size: 16px;
        width: 100%;
        border-radius: 5px;
        background: #ccc;
        margin: 0;
        li {
          padding: 12px 10px;
          text-align: center;
          border: 0;
          bottom: 0;
          &::after {
            top: 6px;
            right: -15px !important;
          }
          flex: 1;
          min-width: 100px;
        }
        .react-tabs__tab--selected {
          background: #2189ff;
          color: #fff;
          border-radius: 5px;
        }
      }
    }
    .detailed_info {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
        }
        .detail_item {
          @media screen and (min-width: 992px) {
            width: 22%;
          }

          // @media screen and (max-width: 992px) and (min-width: 601px) {
          //   width: 50%;
          // }
          @media screen and (min-width: 600px) and (max-width: 992px) {
            width: 42%;
          }
          @media screen and (max-width: 599px) {
            width: 100%;
          }
          padding: 10px;
          background: #2188ff;
          border-radius: 5px;
          color: #fff;
          margin: 10px;
          .pounds_icon {
            font-size: 20px;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
            background: #fff;
            color: #000;
            height: 50px;
            width: 50px;
            vertical-align: middle;
            text-align: center;
            margin: 0 20px;
          }
          .details {
            padding: 5px;
            h4 {
              margin: 0;
              color: #fff;
              font-weight: 500;
            }
            .status {
              font-size: 12px;
              font-weight: 500;
            }
            .amount {
              font-weight: 300;
            }
          }
        }
      }
    }
    .import__wrapper {
      .btns__wrapper {
        display: flex;
        justify-content: flex-end;
        .property_width {
          margin: 10px;
        }
        .btn {
          margin: 10px;
        }
        .btn_csv {
          background: #f28e1e;
          color: #fff;
        }
        .btn_in {
          background: #4bb821;
          color: #fff;
        }
        .btn_out {
          background: #e05453;
          color: #fff;
        }
      }
    }
    .search__wrappers {
      margin: 10px;
      .property_width {
        width: 300px;
        margin-right: 10px;
      }
      .status_width {
        margin-right: 10px;
      }
      .from_to_width {
        margin-right: 10px;
        .input__global {
          width: 140px;
        }
        input:first-child {
          border-right: 0;
        }
        input:last-child {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }
}

.btns__wrapper {
  display: flex;
  justify-content: flex-end;
  .property_width {
    margin: 10px;
  }
  .btn {
    margin: 10px;
  }
  .btn_csv {
    background: #f28e1e;
    color: #fff;
  }
  .btn_in {
    background: #4bb821;
    color: #fff;
  }
  .btn_out {
    background: #e05453;
    color: #fff;
  }
}

// .ant-table {
//   margin-top: 15px;
// }

.ant-table-thead > tr > th {
  background: #ddf0ff;
  border: 0 !important;
}

.color__blue-table {
  color: #bedbfa;
}

.status_wrap--positive {
  background: #62dc63;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  vertical-align: middle;
  float: left;
  min-width: 100px;
  max-width: 100px;
}
.status_wrap--negative {
  background: #e85c5b;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  vertical-align: middle;
  float: left;
  min-width: 100px;
  max-width: 100px;
}

@media screen and (max-width: 1024px) {
  .accounting-rental_invoice {
    .table td,
    .table th {
      min-width: 170px;
    }
  }
  .search__wrappers {
    .d-flex {
      display: block !important;
    }
    .property_width {
      width: 100% !important;
      margin: 0;
      margin-bottom: 15px;
    }
    .status_width {
      margin: 0;
      width: 100% !important;
      margin-bottom: 15px;
    }
    .from_to_width {
      margin: 0;
      margin-bottom: 15px;
      .d-flex {
        display: flex !important;
      }
      .input__global {
        width: 50% !important;
      }
    }
  }
  .accounting-rental_invoice_transaction .main_wrap .detailed_info ul li {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .react-tabs__tab-list li {
    width: 100% !important;
  }
  .accounting-rental_invoice {
    .main_wrap {
      .detailed_info {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
    .table td,
    .table th {
      min-width: 170px;
    }
  }
  .search__wrappers {
    .d-flex {
      display: block !important;
    }
    .property_width {
      width: 100% !important;
      margin: 0;
      margin-bottom: 15px;
    }
    .status_width {
      margin: 0;
      width: 100% !important;
      margin-bottom: 15px;
    }
    .from_to_width {
      margin: 0;
      margin-bottom: 15px;
      .d-flex {
        display: flex !important;
      }
      .input__global {
        width: 50% !important;
      }
    }
  }
  .accounting-rental_invoice_transaction .main_wrap .detailed_info ul li {
    width: 100%;
  }
}

.transaction_drawer_wrap {
  // .head_label{
  //   font-weight: 500;
  //   font-size: 16px;
  // }
  .ant-select-selection--single {
    min-height: 40px;
    padding: 5px;
  }
  .label_drawer {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
  }
  .add_more {
    color: #2188ff;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .last__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 30px;
    .fa-trash {
      color: #fff;
      border-radius: 50%;
      padding: 10px;
      background: #ff0000;
      cursor: pointer;
    }
    .fa-copy {
      color: #fff;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      background: #2188ff;
    }
    i {
      font-size: 14px;
    }
    .btn_paid {
      border-color: #f28e1e !important;
      color: #f28e1e !important;
      &:hover {
        background: #f28e1e !important;
        color: #fff !important;
      }
    }
    .btn {
      font-size: 14px;
      i {
        margin-right: 5px;
      }
    }
  }
}

/* antd design customisation */
.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding: 0 0 2px;
  line-height: 1.5715;
  white-space: initial;
  text-align: left;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #161515;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: inline-block;
  margin-right: 0px;
  color: #161515;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "";
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 42px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.loading-div {
  margin: 50px 0;
  margin-bottom: 20px;
  padding: 50px 50px;
  text-align: center;
  border-radius: 4px;
}
