.cursor-pointer {
  cursor: pointer;
}

.calendar__menu--details {
  width: 100%;
  float: left;
  margin-left: 20px;
  .card-header {
    cursor: pointer;
    &:hover {
      color: orange;
      transition: all 0.3s ease-in-out;
    }
  }
  .profile__details--left {
    width: 100%;
    // margin-right: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    float: left;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
    .card__middle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }
      .tag {
        height: 25px;
        // min-width: 90px;
        font-size: 12px;
        border-radius: 3px;
        padding: 3px 15px;
        margin: auto 7px;
        display: inline-block;
        margin-right: 15px;
      }
      .details__icons {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        border-radius: 50%;
        vertical-align: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #999;
        i {
          &::before {
            font-weight: 600;
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .down__marg {
        margin-top: 2px;
      }
      .active {
        background: #f28e1d !important;
      }
    }
    .active__tab {
      color: #f28e1d !important;
    }

    .card {
      padding: 0;
      box-shadow: 0 1px 5px #e4e4e4;
    }
    .react-tabs__tab-list {
      border: 0;
      color: #fff;
      font-size: 16px;
      width: 100%;
      border-radius: 5px;
      background: #ccc;
      li {
        padding: 12px 10px;
        width: 33.3333%;
        text-align: center;
        border: 0;
        bottom: 0;
      }
      .react-tabs__tab--selected {
        background: #2189ff;
        color: #fff;
        border-radius: 5px;
      }
    }
    .picker {
      width: 210px;
      height: 40px;
      padding: 0.375rem 0.75rem;
      border-radius: 0.25rem;
    }
    .custom-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 60px;
      color: #3891f8;
      box-shadow: 0px 0px 2px #3891f8;
      padding: 0.2em 0.2em;
    }
    .bottom-btn-group1 {
      // float: left;
      // margin-top: 10px;
      .btn {
        // padding: 5px 10px;
        // margin: 10px;
        // color: #fff;
        font-weight: 300;
        // width: 210px;
        font-size: 12px;
        // height: 40px;
      }
      .btn-accept {
        background-color: #0062cc;
        border-color: #0062cc;
        color: #fff;
        // margin-left: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #0069d9;
          border-color: #0069d9;
          border: 1px solid #0069d9;
          color: #fff;
        }
      }
      .btn-reschedule {
        color: #007bff;
        // margin-left: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #007bff !important;
          border-color: #007bff;
          border: 1px solid #007bff;
          color: #fff;
        }
      }
      .btn-cancel {
        background-color: #f28e1d;
        border-color: #f28e1d;
        color: #fff;
        // margin-left: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #de8017;
          border-color: #de8017;
          border: 1px solid #de8017;
          color: #fff;
        }
      }
    }
    .bottom-btn-group2 {
      float: left;
      margin-top: 10px;
      .btn {
        padding: 5px 10px;
        margin: 10px;
        color: #fff;
        width: 150px;
        height: 40px;
      }
    }
  }
  .profile__details--right {
    // width: 300px;
    // margin-right: 30px;
    // max-height: 530px;
    // overflow-y: auto;
    background: #fff;
    // padding: 15px;
    // border-radius: 5px;
    // float: left;
    // border: 1px solid #2189ff;
    h4 {
      font-weight: 500;
      color: #217be0;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

// previous
.calendar-wrap {
  background: #fff;
  // box-shadow: 0 8px 20px 0 rgba(73, 73, 73, 0.25);
  .ant-select-selection-item {
    font-size: 14px;
  }
  .ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-calendar-date-content {
    height: 56px;
  }
}

.toggle_recurring {
  width: 100%;
  float: left;
  .switch {
    float: left;
  }
  .labels__global {
    float: left;
    align-items: center;
    padding: 13px 15px;
  }
}

.modal_reminder {
  clear: both;
  .ant-modal-content {
    float: left;
    width: 500px;
    clear: both;
    .ant-modal-body {
      float: left;
      width: 100%;
    }
    .reminder-content {
      float: left;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      clear: both;
      p {
        float: left;
        text-align: left;
        width: 80%;
        margin: 0;
      }
      label {
        float: right;
        text-align: right;
        width: 20%;
        margin: 0;
        .fa-edit {
          cursor: pointer;
          margin: 0 10px;
          &:hover {
            color: #007bff;
          }
        }
        .fa-trash-alt {
          cursor: pointer;
          margin: 0 10px;
          &:hover {
            color: #dc3545;
          }
        }
      }
    }
  }
}

.calendar_header_wrapper {
  margin-bottom: 15px;
  clear: both;
  float: left;
  width: 100%;
  .reminder_title {
    width: 300px;
    float: left;
    padding: 5px 0;
    h2 {
      padding: 0 0 0 12px;
      margin: 0;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      color: #000;
    }
  }
  .calendar_fields {
    // width: calc(100% - 300px);
    float: left;
    display: flex;
    justify-content: flex-end;
    .btn_new--reminder {
      padding: 9px 12px;
      margin-left: 0%;
      height: 40px;
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      background: #f28e1d;
      border: 1px solid #f28e1d;
      &:hover {
        background: #de8017;
        border: 1px solid #de8017;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .calendar_header_wrapper {
    margin-bottom: 15px;
    .reminder_title {
      width: 100%;
      float: left;
    }
    .calendar_fields {
      width: 100%;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 767px) {
  .calendar_header_wrapper {
    margin-bottom: 15px;
    .reminder_title {
      width: 100%;
      float: left;
    }
    .calendar_fields {
      width: 100%;
      float: none;
      display: block;
      justify-content: flex-end;
    }
  }
}
