.service__wrapper {
  .service__top--left {
    .react-tabs__tab-list {
      border: 0;
      color: #fff;
      font-size: 16px;
      width: 100%;
      border-radius: 5px;
      background: #ccc;
      li {
        padding: 9px 10px;
        text-align: center;
        border: 0;
        bottom: 0;
        flex: 1;
        min-width: 100px;
      }
      .react-tabs__tab--selected {
        background: #2189ff;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
  .service__top--right {
    .select___category {
      width: 180px;
      margin: 0 5px 0 0;
      .ant-select-selection--single {
        height: 40px;
        padding: 5px 0;
      }
    }

    .btn__activate_webpage {
      padding: 8px 25px;
      margin-right: 5px;
      border-radius: 4px;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      border: 1px solid #007bff;
      color: #007bff;
      border-color: #007bff;
      &:hover {
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
        border-color: #007bff;
      }
    }
    .btn__new--service {
      padding: 9px 24px;
      height: 40px;
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
      background: #ffb657;
      border: 1px solid #ffb657;
      &:hover {
        background: #fc9919;
        border: 1px solid #fc9919;
        color: #fff;
      }
    }
  }
}

.title {
  padding: 0 0 0 6px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.btn__activate_webpage_modal {
  padding: 9px 24px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  background: #ffb657;
  border: 1px solid #ffb657;
  &:hover {
    background: #fc9919;
    border: 1px solid #fc9919;
    color: #fff;
  }
}

.input-field {
  border: 1px solid #ddd;
  height: 40px;
  border-radius: 4px;
  position: relative;
  // display: inline-block;
  margin-bottom: 16px;
}

.prepend-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.service__tables {
  .table-responsive {
    padding: 5px;
    .table {
      border-collapse: separate;
      border-spacing: 0 1em;
    }
    .bold__txt {
      font-weight: 600;
    }
    .thead-dark {
      border: 1px solid #ccc;
      th {
        background: #ddf0ff !important;
        color: #000 !important;
        padding: 10px 20px;
        font-size: 12px;
        justify-content: center;
        text-align: center;
      }
      .action__style {
        padding-left: 130px;
      }
    }
    tr {
      background: #fff;
      box-shadow: 0 0 10px #d4d4d4;
      &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: transform 0.2s;
      }
      td {
        padding: 20px 20px;
        vertical-align: middle;
        color: #333 !important;
        white-space: nowrap;
      }
    }
    .thead-dark {
      tr:first-child {
        background: #fff;
        box-shadow: 0 0 10px #d4d4d4;
        &:hover {
          cursor: auto;
          transform: scale(1);
          transition: none;
        }
      }
    }
    .profile__default {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      text-align: center;
      line-height: 40px;
      background: #f28e1e;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
      display: inline-block;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        vertical-align: bottom;
      }
    }

    .action__section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .btn__global {
        background-color: transparent;
        // padding: 5px 18px;
        border-radius: 4px;
        border: none;
        outline: none;
        align-items: center;
        display: flex;

        // color: #fff;
        font-size: 12px;
        transition: all 0.2s ease-in-out;

        i {
          color: gray;
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }

    .color-red {
      color: red !important;
    }

    .status__draft {
      background: #f28e1e;
      border: 2px solid #f28e1e;
      // padding: 5px 18px;
      border-radius: 4px;
      color: #fff;
      font-size: 12px;
      transition: all 0.2s ease-in-out;
      text-align: center;
      margin: 0;
    }
    .status__archived {
      background: #e5e5e5;
      border: 2px solid #e5e5e5;
      // padding: 5px 18px;
      border-radius: 4px;
      color: rgb(0, 0, 0);
      font-size: 12px;
      transition: all 0.2s ease-in-out;
      text-align: center;
      margin: 0;
    }
    .status__published {
      background: #68cd65;
      border: 2px solid #68cd65;
      // padding: 5px 18px;
      border-radius: 4px;
      color: #fff;
      font-size: 12px;
      transition: all 0.2s ease-in-out;
      text-align: center;
      margin: 0;
    }

    .border__draft {
      border-left: 4px solid #f28e1e;
      border-radius: 5px;
    }
    .border__archived {
      border-left: 4px solid #e5e5e5;
      border-radius: 5px;
    }
    .border__published {
      border-left: 4px solid #68cd65;
      border-radius: 5px;
    }

    .skill__tag {
      white-space: normal;
      width: 300px;
      p {
        background: #a1a09e;
        color: #fff;
        padding: 5px 10px;
        border-radius: 2px;
        margin: 3px 3px;
        font-size: 13px;
        font-weight: normal;
      }
    }
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 42px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

// modal css
.modal_wrap {
  .modal__image {
    .status__tag {
      position: absolute;
      top: 8px;
      right: 12px;
      z-index: 999;
    }
    .upper_images {
      margin-bottom: 10px;
      width: 100% !important;
      height: 250px;
      object-fit: cover;
    }
  }
  .modal__content {
    clear: both;
    .property__types {
      width: 50%;
      padding: 3px 8px;
      font-size: 12px;
      color: rgb(130, 130, 130);
    }
    .skills__tag {
      align-self: right;
      white-space: normal;
      width: 300px;
      p {
        background: #a1a09e;
        color: #fff;
        padding: 5px 10px;
        border-radius: 2px;
        margin: 3px 3px;
        font-size: 13px;
        font-weight: normal;
        text-align: right;
        align-self: right;
      }
    }
  }
  .react-tabs__tab-list {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 10px;
    background: #fff;
    .react-tabs__tab {
      background: #fff;
      color: #333;
      border-radius: 0;
    }
    .selectedtab-premium {
      border-bottom: 2px solid #f28e1d;
      border-radius: 0;
      color: #f28e1d;
    }
    .selectedtab-basic {
      border-bottom: 2px solid #2189ff;
      border-radius: 0;
      color: #2189ff;
    }
    .selectedtab-standard {
      border-bottom: 2px solid #28a745;
      border-radius: 0;
      color: #28a745;
    }
    .react-tabs__tab {
      width: 33.333%;
      text-align: center;
    }
  }
  .wrap_basic_plan {
    .head_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 16px;
      }
    }
    .text_card {
      font-size: 15px;
    }
  }
  .btn_wrap {
    text-align: right;
    .btn_order_basic {
      color: #ffffff;
      background-color: #2189ff;
      border-color: #2189ff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: all 0.2s;
    }
    .btn_order_premium {
      color: #ffffff;
      background-color: #f28e1d;
      border-color: #f28e1d;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: all 0.2s;
    }
    .btn_order_standard {
      color: #ffffff;
      background-color: #28a745;
      border-color: #28a745;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: all 0.2s;
    }
  }
}


@media screen and (max-width: 979px) {
  .service__wrapper {
    .service__top--right {
      .select___category {
        width: 100%;
      }
      .btn__activate_webpage {
        width: 100%;
      }
      .btn__new--service {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 848px) {
  .application_header_wrapper {
    margin-bottom: 15px;
    .service__top--left {
      .react-tabs__tab-list li {
        width: 100% !important;
      }
    }
    .service__top--right {
      .select___category {
        width: 100%;
      }
      .btn__activate_webpage {
        width: 100%;
        margin-bottom: 10px;
      }
      .btn__new--service {
        width: 100%;
      }
    }
  }
  .title {
    font-size: 14px;
    padding: 0 0 0 6px;
    margin: 0;
    line-height: 20px;
    font-weight: 400;
    color: #000;
  }
}

@media screen and (max-width: 767px) {
  .service__wrapper {
    .service__top--right {
      .btn__new--service {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .service__top--right {
    .btn__activate_webpage {
      margin-bottom: 0.5rem;
    }
  }
}