.screening_wrap{
    padding: 20px 40px 20px 25px;
    background: #fff;
    box-shadow: 0 4px 25px 0 #bbb;
    border-radius: 5px;
    float: left;
}
.screening__checkoutOrder{
    .screening__checkoutOrder--wrap{
        widows: 100%;
        ul{
            list-style: none;
            margin: 0%;
            padding-left: 20px;
            .list_invite{
                width: 49%;
                display: inline-block;
                label{
                    font-weight: 500;
                }
                .col-md-4{
                  padding: 0;
                }
            }
        }
        .serial__number{
            p{
                width: 25px;
                border-radius: 50%;
                border: 1px solid #000;
                text-align: center;
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .screening__checkoutOrder {
      .screening__checkoutOrder--wrap {
        ul {
          .list_invite {
            width: 100%;
          }
        }
      }
    }
    .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper{
      width: 300px !important;
    }
  }

  @media screen and (max-width: 1024px) {
    .screening__checkoutOrder {
      .screening__checkoutOrder--wrap {
        ul {
          .list_invite {
            width: 100%;
          }
        }
      }
    }
    .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper{
      width: 300px !important;
    }
  }
