.reminder__wrapper {
  .main__wrap {
    .panel_view {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #fff;
      border-radius: 5px;
      .data_view {
        border: 1px solid #dddd;
        border-radius: 5px;
        margin: 12px 0;
        padding: 0;
        .data_header {
          color: #333;
          background-color: #fff;
          border-color: #e4e5e7;
          display: flex;
          justify-content: space-between;
          p {
            background-color: #eee;
            display: block;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 400;
            color: #333;
            margin: 0;
          }
        }
        .data_body {
          padding: 15px;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            clear: both;
            li {
              .form-group {
                width: 220px;
                margin-bottom: 0;
              }
              h4 {
                font-size: 14px;
                color: #333;
                font-weight: 500;
                padding: 7px 0 0;
              }
              .d-flex {
                align-items: center;
                img {
                  height: 30px;
                  width: 30px;
                  border-radius: 50%;
                  object-fit: cover;
                  margin: 10px;
                }
                h4 {
                  margin: 10px;
                  font-size: 18px;
                  font-weight: 700;
                }
                i {
                  margin: 10px;
                  color: #0e85f5;
                  border: 1px solid #0e85f5;
                  padding: 5px;
                  border-radius: 50%;
                }
              }
              .active {
                &:after {
                  font-family: "FontAwesome";
                  content: "\f00c";
                  position: absolute;
                  left: 70px;
                  top: 180px;
                  background-color: #f28e1e;
                  color: #fff;
                  padding: 0px 3px 0px 5px;
                  font-size: 10px;
                  border-radius: 50%;
                  font-weight: 100;
                }
              }
            }
            li:first-child {
              width: 40%;
              padding-right: 15px;
              display: inline-block;
            }
            li:last-child {
              width: 60%;
              padding-left: 15px;
              display: inline-block;
            }
          }
          .btn__send {
            margin-bottom: 20px;
            .send {
              background-color: #227be1;
              color: #fff;
              border-color: #227be1;
              border: 1px solid #227be1;
              font-size: 14px;
              padding: 8px 15px;
              display: block;
              border-radius: 5px;
              width: 200px;
              transition: all 0.5s ease;
              cursor: pointer;
              &:hover {
                background-color: #fff;
                color: #227be1;
                border-color: #227be1;
                transition: all 0.5s ease;
                border: 1px solid #227be1;
              }
            }
            .reschedule {
              background-color: #fff;
              color: #227be1;
              border-color: #227be1;
              border: 1px solid #227be1;
              font-size: 14px;
              padding: 8px 15px;
              display: block;
              border-radius: 5px;
              width: 200px;
              transition: all 0.5s ease;
              cursor: pointer;
              &:hover {
                background-color: #227be1;
                color: #fff;
                border-color: #227be1;
                transition: all 0.5s ease;
                border: 1px solid #227be1;
              }
            }
            .cancel {
              background-color: #f28e1e;
              color: #fff;
              border-color: #f28e1e;
              border: 1px solid #f28e1e;
              font-size: 14px;
              padding: 8px 15px;
              display: block;
              border-radius: 5px;
              width: 200px;
              transition: all 0.5s ease;
              cursor: pointer;
              &:hover {
                background-color: #fff;
                color: #f28e1e;
                border-color: #f28e1e;
                transition: all 0.5s ease;
                border: 1px solid #f28e1e;
              }
            }
          }
        }
      }
      .edit_view__data {
        .btn__send {
          .reschedule {
            font-size: 14px;
            width: 100px;
            padding: 3px 15px;
            border: none;
            background-color: #227be1;
            border-radius: 5px;
            color: #fff;
            vertical-align: middle;
          }
          .cancel {
            background-color: #f28e1e;
            font-size: 14px;
            width: 100px;
            padding: 3px 15px;
            border: none;
            border-radius: 5px;
            color: #fff;
            vertical-align: middle;
          }
        }
      }
    }
    .add_reminderbtn {
      text-align: right;
      .add_reminder {
        font-size: 14px;
        padding: 7px 20px;
        background-color: #f28e1e;
        color: #fff;
        border-radius: 5px;
        border: 0;
      }
    }
  }
}

// Responsive

@media screen and (max-width: 767px) {
  .reminder__wrapper {
    .main__wrap {
      .panel_view {
        .data_view {
          .data_body {
            ul {
              li {
                width: 100% !important;
                padding: 0 !important;
                margin-bottom: 15px;
              }
            }
            .buttons{
              display: block !important;
              
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .reminder__wrapper {
    .main__wrap {
      .panel_view {
        .data_view {
          .data_body {
            ul {
              li {
                width: 100% !important;
                padding: 0 !important;
                margin-bottom: 15px;
              }
            }
            .buttons{
              display: block !important;
              
            }
          }
        }
      }
    }
  }
}
