.room__wrapper {
  .room__header {
    margin-bottom: 20px;
  }
  .room-info {
    margin: 10px 0;
    display: flex;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .info-paragraph {
      margin-left: 20px;
    }
  }
  .align-center {
    display: flex;
    align-items: center;
  }
  .inline-center {
    display: inline-flex;
    align-items: center;
  }
  .m-2 {
    margin: 0 10px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .orange-border {
    border-bottom: 1px solid #fc9919;
  }
  .section-title {
    margin: 30px 0 20px 0;
  }
  .add-wallRow-btn {
    background-color: grey;
    color: #fff;
    &:hover {
      border: 1px solid grey;
    }
  }
  .save-section {
    margin: 20px 0;
    button {
      margin-right: 10px;
    }
  }
}