.agreement__wrapper, .agreement_wrap {
  width: calc(100% - 10px) !important;
  margin: 0 5px !important;
  .agreement__top--left {
    width: calc(80% - 180px) !important;
    float: left !important;
    margin: 0 20% 0 0 !important;
    background: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    .react-tabs__tab-list {
      li {
        width: 25% !important;
      }
    }
  }
  .agreement__top--right {
    width: 180px;
    float: right  ;
    text-align: right;
    flex-direction: right;
  }

  .btn__new__agreement {
    padding: 12px 25px;
    width: 100%;
    margin-left: 3px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    background: #ffb657;
    border: 1px solid #ffb657;
    &:hover {
      background: #fc9919;
      border: 1px solid #fc9919;
      color: #fff;
    }
  }
  
  .react-tabs__tab-list {
    border: 0;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    background: #ccc;
    display: flex;
    margin: 0;
    li {
      padding: 12px 10px;
      text-align: center;
      border: 0;
      bottom: 0;
      &::after{
        top: 6px;
        right: -15px !important;
      }
      min-width: 100px;
      flex: 1;
    }
    .react-tabs__tab--selected {
      background: #2189ff;
      color: #fff;
      border-radius: 5px;
      
    }
  }
}

.agreement__tables {
  .table-responsive {
    padding: 5px;
    .agreement-table__row {
      .icon {
        margin: 0 5px;
      }
    }
    .table {
      border-collapse: separate;
      border-spacing: 0 1em;
    }
    .bold__txt {
      font-weight: 600;
    }
    .thead-dark {
      border: 1px solid #ccc;
      th {
        background: #ddf0ff !important;
        color: #000 !important;
        padding: 10px 20px;
        font-size: 12px;
      }
      .name__style {
        padding-left: 80px;
      }
    }
    tr {
      background: #fff;
      box-shadow: 0 0 10px #d4d4d4;
      &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: transform 0.2s;
      }
      td {
        padding: 20px 20px;
        vertical-align: middle;
        color: #333 !important;
        white-space: nowrap;
      }
    }
    .thead-dark {
      tr:first-child {
        background: #fff;
        box-shadow: 0 0 10px #d4d4d4;
        &:hover {
          cursor: auto;
          transform: scale(1);
          transition: none;
        }
      }
    }
    .profile__default {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      text-align: center;
      line-height: 40px;
      background: #f28e1e;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
      display: inline-block;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        vertical-align: bottom;
      }
    }
    .btn__global {
      padding: 5px 18px;
      border-radius: 4px;
      color: #fff;
      font-size: 12px;
      transition: all 0.2s ease-in-out;
    }
    .btn__invited {
      background: #2ec1d1;
      border: 1px solid #2ec1d1;
      &:hover {
        background: #fff;
        color: #2ec1d1;
      }
    }
    .btn__ordered {
      background: #ffb657;
      border: 1px solid #ffb657;
      &:hover {
        background: #fff;
        color: #ffb657;
      }
    }
    .btn__inprogress {
      background: #7030a0;
      border: 1px solid #7030a0;
      &:hover {
        background: #fff;
        color: #7030a0;
      }
    }
    .btn__processed {
      background: #66cc5c;
      border: 1px solid #66cc5c;
      &:hover {
        background: #fff;
        color: #66cc5c;
      }
    }

    .agreement-title {
      color: rgb(19, 188, 255) !important;
    }

    .border__expired {
      border-left: 4px solid #ff0000;
      border-radius: 5px;
    }
    .border__awaiting {
      border-left: 4px solid #ffb657;
      border-radius: 5px;
    }
    .border__draft {
      border-left: 4px solid #a1a09e;
      border-radius: 5px;
    }
    .border__signed {
      border-left: 4px solid #66cc5c;
      border-radius: 5px;
    }
    .status-pill {
      padding: 0 10px;
      border: 1px solid;
      border-radius: 2px;
    }
    .pill-color__expired {
      border-color: rgb(255, 0, 0);
      background-color: rgba(255, 0, 0, 0.2);
    }
    .pill-color__awaiting {
      border-color: rgb(255, 182, 87);
      background-color: rgba(255, 182, 87, 0.2);
    }
    .pill-color__draft {
      border-color: rgb(161, 160, 158);
      background-color: rgba(161, 160, 158, 0.2);
    }
    .pill-color__signed {
      border-color: rgb(102, 204, 92);
      background-color: rgba(102, 204, 92, 0.2);
    }
  }
}

@media screen and (max-width: 1200px) {
  .agreement__wrapper {
    .agreement__top--left {
      width: calc(98% - 180px) !important;
      margin: 0 2% 0 0 !important;
    }
  }
}

@media screen and (max-width: 979px) {
  .agreement__wrapper {
    .agreement__top--left {
      width: calc(100% - 0px) !important;
      margin: 0 0 0 0 !important;
    }
    .agreement__top--right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 979px) {
  .agreement__wrapper {
    .agreement__top--right {
      .btn__new--order {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .agreement__tables {
    .table-responsive {
      .thead-dark {
        th {
          padding: 10px 5px !important;
        }
      }
    }
  }
}
