.agreement-general-info {
  .title {
    font-weight: 450;
    font-size: 16px;
  }
  .agreement-row-item {
    margin: 10px 0;
    .tenant-section,
    .tenant-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .tenant-item {
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 5px 0;
      svg {
        color: red;
      }
    }
    .d-flex {
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }
    input {
      margin: 0 5px;
    }
    .input-field {
      margin: 4px 2px;
      padding: 0.375rem 0.75rem;
      height: 40px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border-radius: 0.25rem;
    }
    .picker {
      width: 100%;
      max-width: 300px;
      height: 40px;
      padding: 0.375rem 0.75rem;
      border-radius: 0.25rem;
    }
  }
  .agreement-row-item.text-center {
    text-align: center;
  } 
}