.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }

  .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
  }
  
  .ant-select-selection-item {
    display: flex;
    align-items: center;
  }