.input-field__container {
  width: 100%;
  .title {
    font-weight: 500;
    font-size: 16px;
  }
  .input-field {
    margin: 4px 2px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
}