.chat__wrapper {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 25px 0 #bbb;
  .col-md-4 {
    background: #f0f0f0;
  }
  .user__image_wrap {
    padding: 0 10px;
    img {
      width: 60px;
      border-radius: 50%;
      border: 1px solid #ccc;
      height: 60px;
      object-fit: cover;
    }
  }
  .chat__head {
    font-size: 20px;
    font-weight: 500;
    padding: 16px;
    padding-bottom: 0;
    .open__drawer {
      float: right;
    }
  }
  .name_user {
    font-size: 14px;
    font-weight: 500;
  }
  .time__date {
    font-size: 12px;
    font-weight: 400;
    color: #777;
  }
  .msg_list {
    // border-right: 1px solid #ccc;
    background: #f0f0f0;
    .input_wrappers {
      padding: 15px 15px 15px 20px;
      border-right: 1px solid #ccc;
    }
    .input__search {
      display: flex;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      .form-control {
        border: 0;
      }
    }
    .msg_preview-parent {
      height: calc(100vh - 100px);
      overflow: auto;
    }
    .msg_preview {
      padding: 10px;
      border-right: 1px solid #ccc;
      .user__image_wrap {
        padding: 0 10px;
        img {
          width: 60px;
          border-radius: 50%;
          border: 1px solid #ccc;
          height: 60px;
          object-fit: cover;
        }
      }
      .name_user {
        font-size: 14px;
        font-weight: 500;
      }
      .time__date {
        font-size: 12px;
        font-weight: 400;
      }
      .new_chat_time {
        color: #007bff;
      }
      .msg_content {
        font-size: 12px;
        font-weight: 500;
        color: #777;
      }
      .new__chat {
        color: #000;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .active {
      border-right: 0 !important;
      background: #fff;
      border-left: 3px solid #f1a037 !important;
      border: 1px solid #ccc;
    }
  }
  .width__msg {
    width: 60%;
    float: left;
  }
  .admin_chat {
    width: 60%;
    float: right;
  }
  hr {
    float: left;
    width: 100%;
  }
  .chats_main {
    min-height: 500px;
    height: auto;
    float: left;
    background: #fff;
    .input__fields {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 10px;
      width: 95%;
      background: #fff;
      // position: fixed;
      // bottom: 50px;
      // left: 470px;
      // margin: 0 40px;
      // width: 59%;
    }
    .ant-btn {
      padding: 0 15px !important;
    }
    .msg__conversation {
      height: calc(100vh - 100px);
      overflow: auto;
      float: left;
      width: 100%;
      padding-bottom: 50px;
    }
  }
}
.roc__desktop--responsive {
  .chat__wrapper {
    .msg_list {
      .msg_preview {
        .user__image_wrap {
          img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
  .msg_view {
    .d-flex {
      display: block !important;
    }
  }
}
@media screen and (max-width: 1024px) {
  .roc__desktop--responsive {
    .chat__wrapper {
      .col-md-4 {
        flex: none;
        max-width: 100%;
      }
      .col-md-8 {
        flex: none;
        max-width: 100%;
      }
      .width__msg {
        width: 100%;
        float: left;
        padding-right: 15px;
      }
      .admin_chat {
        width: 100%;
        float: right;
        padding-left: 15px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .chat__wrapper {
    .msg_list {
      border: 0;
    }
    .col-md-4 {
      flex: none;
      max-width: 100%;
    }
    .col-md-8 {
      flex: none;
      max-width: 100%;
    }
    .width__msg {
      width: 100%;
      float: left;
      padding-right: 15px;
    }
    .admin_chat {
      width: 100%;
      float: right;
      padding-left: 15px;
    }
  }
}

// TYPING INDICATOR
.typing-indicator {
  $ti-color-bg: #e6e7ed;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 80px 40px;
  position: relative;
  animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
