.content{
    .tab-content{
        position: relative;
        border-radius: 5px;
        background: #ffffff;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
        padding: 15px;
        color: #777;
        font-size: 14px;
        font-weight: 500;
    }
}
.wrapper--task{
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.08);
    padding: 15px;
    .content{
        a{
            &:hover{
                text-decoration: none;
            }
        }
        .budget-task{
            float: left;
            width: 100%;
            .form-group{
                float: left;
                width: 80%;
            }
            .form-group:last-child{
                float: left;
                width: 20%;
                text-align: center;
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    width: 50%;
                    display: inline-block;
                    .task--info{
                        float: left;
                        i{
                            float: left;
                            margin: 5px 5px 5px 0;
                            color: rgb(33, 137, 255);
                        }
                        p{
                            float: left;
                            margin: 3px 5px;
                        }
                    }
                }
            }
            .tab-content{
                border: 1px solid #ccc;
                padding: 10px;
                width: 200px;
                height: 100%;
                margin: 0 auto 10px;
                .btn-warning {
                    // color: #ffffff !important;
                    // background-color: #f28e1d !important;
                    // border-color: #f28e1d !important;
                    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                }
            }
        }
        .notify--taskList{
            label{
                font-weight: 600;
                color: #000;
                margin-right: 50px;
                span{
                    color: rgb(33, 137, 255);
                }
            }
            .col-md-2{
                align-self: center;
                font-size: 20px;
                color: rgb(33, 137, 255);
                i{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.tab--list--details{
    .react-tabs__tab-list {
        border: 0;
        color: #fff;
        font-size: 16px;
        width: 100%;
        border-radius: 5px;
        background: #ccc;
        li {
            padding: 12px 10px;
            width: 33.3333%;
            text-align: center;
            border: 0;
            bottom: 0;
        }
        .react-tabs__tab--selected {
            background: #2189ff;
            color: #fff;
            border-radius: 5px;
        }
        }
        .col-md-8{
            p{
                color: #777;
                font-size: 14px;
                padding: 15px;
                padding-right: 100px;
                font-weight: 400;
            }
        }
        .col-md-2{
            img{
                width: 50%;
            }
    }
    .messages--taskList{
        .col-md-12{
            h3{
                font-size: 20px;
                font-weight: 400;
                color: #333;
                margin: 30px 0;
                text-align: center;
            }
        }
        p{
            font-weight: 700;
            color: #333;
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    .offers--taskList{
        .btn-offer{
            background-color: rgb(212, 236, 191);
            margin-top: 15px;       
        }
        .offers-list{
            .offer--info{
                img{
                    width: 50px;
                    height: 50px;
                }
                p{
                    margin-bottom: 5px;
                    font-weight: 400;
                    font-size: 18px;
                    color: #333;
                }
            }
            .card{
                padding: 35px;
            }
            h3{
                .fa-edit{
                    color: rgb(33, 137, 255);
                }
            }
            .col-md-6:first-child{
                padding: 10px 30px;
            }
            .col-md-6:last-child{
                padding: 20px 30px;
            }
            .col-md-9{
                p{
                    color: #777;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
            .col-md-3{
                .btn-Change {
                    color: #ffffff !important;
                    background-color: #f28e1d !important;
                    border-color: #f28e1d !important;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                    width: 100%;
                    margin-bottom: 10px;
                }
                .btn-Release {
                    color: #f28e1d !important;
                    background-color: transparent !important;
                    border-color: #f28e1d !important;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                    width: 100%;
                    margin-bottom: 10px;
                    &:hover{
                        color: #ffffff !important;
                        background-color: #f28e1d !important;
                        border-color: #f28e1d !important;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) !important;
                        -webkit-transition: all 0.2s;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
    .info--offers{
        color: #777;
        font-weight: 400;
        font-size: 14px;
        a{
            color: #777;
            &:hover{
                text-decoration: none;
                color: #777;
            }
        }
        .fa-thumbs-up{
            color: green;
        }
    }
    .btn-other{
        background-color: rgb(190, 219, 252);
        margin-top: 15px;
    }
}