.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.tooltip__color .ant-tooltip-inner{
    color: #000;
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.55);
    font-size: 12px;
}